@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap&subset=latin-ext');

/*font-family: 'Roboto Slab', serif;
*/
body {
    font-weight: normal;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    font-size: 40px;
    font-weight: 600;
    color: #B91319;
    margin-bottom: 30px;
    text-transform: uppercase;

}

/* =====login start=====*/
a.log-in {
    float: right;
    color: red;
}

a.log-in .fas {
    color: #c2c5c2;
    margin-right: 7px;
}


/* =====header start=====*/

section.navbar-section {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.full-nav.d-flex {
    height: 150px;
    align-items: center;
}

ul.menu {
    float: right;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

ul.menu li {
    list-style: none;
    float: left;
}

ul.menu li a {

    padding: 0;
    padding: 23px;
}

ul.menu li a {
    padding: 0;
    padding: 13px;
    font-size: 17px;
    color: #000;
    border-right: 1px solid #eee;
}

ul.menu li a:hover {
    color: #5FB047;
}


/* =====shipping start=====*/

section.shipping-section {
    padding: 52px;
    background: #E9E9E9;
}

.single-ship {
    background: #fff;
    padding: 23px;
    height: 396px;
}

.single-ship p {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1;
}

.single-ship img {
    width: 90%;
}

.single-ship i {
    color: #ABCBCD;
    margin-right: 13px;
}

.single-ship a {
    color: #ffffff;
    background-color: #ef6224;
    border-color: #ef6224;
    padding: 5px 7px;
    border-radius: 2px;
}


/* =====compare start=====*/

section.compare-section {
    padding: 30px;
}

.compare-top p {
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.total-compare {
    display: flex;
}

.total-compare img {
    width: 100%;

}

.image-margin {
    margin-right: 18px;
}

section.footer-section {

    background: #7B828A;
    padding: 40px;
    color: #fff;
}

.footer-block p {
    text-transform: uppercase;
    font-size: 17px;
}

.footer-block ul {
    margin: 0;
    padding: 0;
}

.footer-block ul li {
    list-style: none;
}

.footer-block ul li a {
    color: #ddd;
    font-size: 14px;
    line-height: 200%;
}

.footer-media {
    float: right;
}

.footer-media ul {
    margin: 0;
    padding: 0;
}


.footer-media ul li {
    height: 40px;
    width: 40px;
    list-style: none;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.footer-media ul li a {
    color: #fff;
    font-size: 21px;
    line-height: 2;
}

li.fab {
    background: #415C99;
}

li.fab:hover {
    background: #365396e0;
}

li.twit {
    background: #59A8E4;
}

li.twit:hover {
    background: #458ec5a3;
}

li.link:hover {
    background: #1a668ceb;
}

li.google:hover {
    background: #af3f1ade;
}

li.link {
    background: #1B78A6;
}

li.google {
    background: #CF3E0E;
}

.footer-baseline {
    background: #60666D;
    padding: 16px;
}

.foot-content {
    display: flex;
    color: #fff;
}

.foot-content ul {
    padding: 0;
    margin: 0;
}

.foot-content ul li {
    list-style: none;
    display: inline-block;

}

.foot-content ul li a {
    color: #fff;
    padding: 5px;
    border-left: 1px solid #f9f3f3;
}

.foot-content p {
    margin-right: 19px;
}

section.footer-section {
    background: #7B828A;
    padding: 40px;
    color: #fff;
}

.bg-gray {

    background: #f7fafc;
}

